## Reference: Variable Types.pdf

### (1) Assigning Values to variables:

In [3]:
counter = 100
miles = 1000.0
name = "Snehal"

print(counter)
print(miles)
print(name)

100
1000.0
Snehal

In [4]:
# Multiple Assignment

a=b=c=100
print(a)
print(b)
print(c)

x=y=z=1, "Snehal", "Salunke"
print(x)
print(y)
print(z)

100
100
100
(1, 'Snehal', 'Salunke')
(1, 'Snehal', 'Salunke')
(1, 'Snehal', 'Salunke')

## Standard Data Types:
### (1) Number:

In [5]:
var1 = 10
var2 = 20
print(var1)
print(var2)

del var2
print(var2)

10
20

NameError: name 'var2' is not defined

### (2) String

In [8]:
str = "Snehal Dattatray Salunke "

print(str)
print(str[4])
print(str[7:16])
print(str[17:])
print(str*3)
print(str + "is a Student. ")

Snehal Dattatray Salunke
a
Dattatray
Salunke
Snehal Dattatray Salunke Snehal Dattatray Salunke Snehal Dattatray Salunke
Snehal Dattatray Salunke is a Student.

### (3) List

In [10]:
list1 = [1, "Snehal", "CST", "9.5"]
list2 = ["Sunday", [2, 5, 8], 50, 20.5]
list3 = ['p', 'r', 'o', 'b', 'e']

print(list1)
print(list2)
print(list3)

print(list3[1])
print(list3[4])
print(list3[-1])

print(list2[1][2])

[1, 'Snehal', 'CST', '9.5']
['Sunday', [2, 5, 8], 50, 20.5]
['p', 'r', 'o', 'b', 'e']
r
e
e
8

In [11]:
mylist = ['p','r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

print(mylist[2:5])
print(mylist[ : -5])
print(mylist[5 : ])
print(mylist[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [12]:
odd = [2,4,6,8]   # Intentionally written wrong

odd[0] = 1  #Change value at index 0
print(odd)

odd[1:4] = [3,5,7]
print(odd)

odd.append(9)
odd.append(11)
odd.extend([13,15,17])
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [13]:
# Delete element from list
del odd[3]
print(odd)

del odd[5:7]
print(odd)

[1, 3, 5, 9, 11, 13, 15, 17]
[1, 3, 5, 9, 11, 17]

In [14]:
# Append: at last of list

list4 = ["English", "Marathi", "Hindi"]
list4.append("German")
print(list4)

# Insert at given index
list4.insert(2, "Bengali")
list4.insert(4, "Urdu")
print(list4)

['English', 'Marathi', 'Hindi', 'German']
['English', 'Marathi', 'Bengali', 'Hindi', 'Urdu', 'German']

In [28]:
# Extend, sum, count, len, min, max

l1 = [1, 2, 4, 7, 9, 10, 32]
l2 = [21, 10, 34, 26, 10, 55, 33]
l2.extend(l1)

print(l2)

print(sum(l2))
print(l2.count(10))
print(len(l2))
print(min(l2))
print(max(l2))

[21, 10, 34, 26, 10, 55, 33, 1, 2, 4, 7, 9, 10, 32]
254
3
14
1
55

In [29]:
# sorted, reverse, pop, del, remove

l2.sort(reverse = True)
print(l2)

l2.sort()
print(l2)

print(l2.pop())    #removes last element
print(l2.pop(4))   #removes element at index 4

del l2[10]         #deletes element 10

[55, 34, 33, 32, 26, 21, 10, 10, 10, 9, 7, 4, 2, 1]
[1, 2, 4, 7, 9, 10, 10, 10, 21, 26, 32, 33, 34, 55]
55
9

In [30]:
print(l2)

[1, 2, 4, 7, 10, 10, 10, 21, 26, 32, 34]

In [31]:
print(l2.remove(10)) #deletes element 10

None

In [32]:
print(l2)

[1, 2, 4, 7, 10, 10, 21, 26, 32, 34]

### (4) Tuple

In [33]:
tup1 =(1, "Snehal", "Salunke")

tup2 = tuple(l2)

tup3 = tup1 + tup2

print(tup1)
print(tup2)
print(tup3)

(1, 'Snehal', 'Salunke')
(1, 2, 4, 7, 10, 10, 21, 26, 32, 34)
(1, 'Snehal', 'Salunke', 1, 2, 4, 7, 10, 10, 21, 26, 32, 34)

In [34]:
tup = tuple("ZOOMING")

print(tup[1:])
print(tup[:: -1])
print(tup[2:5])

('O', 'O', 'M', 'I', 'N', 'G')
('G', 'N', 'I', 'M', 'O', 'O', 'Z')
('O', 'M', 'I')

In [35]:
del tup
print(tup)

NameError: name 'tup' is not defined

### (5) Dictionary

In [42]:
dict1 = {1: 'Snehal', 2: 'Vaishnavi', 3:'Sakshi'}
d2 = {'Name': 'Zooming', 1:[1, 2, 3]}
d3 = dict({1:"Zooming", 2:"For", 3:"Zooming"})
d4 = dict([(1,"Zooming"), (2, "For")])

print(dict1)
print(d2)
print(d3)
print(d4)

{1: 'Snehal', 2: 'Vaishnavi', 3: 'Sakshi'}
{'Name': 'Zooming', 1: [1, 2, 3]}
{1: 'Zooming', 2: 'For', 3: 'Zooming'}
{1: 'Zooming', 2: 'For'}

In [43]:
dict1[4]="Srushti"
dict1[5] = "Mehwash"
print(dict1)

dict1['Value set'] = 2,3,4


# Accessing Values
print(d2['Name'])
print(dict1[2])
print(dict1.get(5))

{1: 'Snehal', 2: 'Vaishnavi', 3: 'Sakshi', 4: 'Srushti', 5: 'Mehwash'}
Zooming
Vaishnavi
Mehwash

In [44]:
# Deleting values

del dict1[5]
dict1.pop(3)

print(dict1)

dict1.clear()
print(dict1)

{1: 'Snehal', 2: 'Vaishnavi', 4: 'Srushti', 'Value set': (2, 3, 4)}
{}

### (6) Functions

In [46]:
def thing():
    print("***")
    print("Hello Everyone")
    print("Bye, See you again")
    
print("Lets start")
thing()
print("lets go again")
thing()
print("The End")

Lets start
***
Hello Everyone
Bye, See you again
lets go again
***
Hello Everyone
Bye, See you again
The End